.trainingContainer{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chessBoard{
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px black solid;
}

.training_whiteCase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: whitesmoke;
}

.training_whiteCase.selected{
    background-color: cyan;
}

.training_blackCase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: green;   
}

.training_blackCase.selected{
    background-color: blue;
}

.piece{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7px;
}

.pieceBackground{
    font-size: 60px;
    position: absolute;
    z-index: 0;
    color: black;
}

.whitePiece{
    z-index: 1;
    font-size: 56px;
    color: white;
}

.blackPiece{
    z-index: 1;
    font-size: 56px;
    color: black;
}

.boardBtnBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 600px;
    margin-top: 10px;
}

.switchPlayerBtn{
    cursor: pointer;
    font-size: 24px;
}

.moveIndicator{
    font-size: 24px;
    background-color: white;
    border-radius: 45px;
    margin: 5px;
}
